body{
    background-color: palevioletred;
}
h1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
}

@media(min-width:640px){
    body{
        background-color: aqua;
    }
    h1{
        color: red;
    }
}